html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
#tetris {
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
}
#orderedlist {
	width: 30%;
}
#platform {
	width: 100%;
	height: 80%;
	background-color: powderblue;
}
#button {
	background-color: teal;
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
}
#generate_block{
	height: 50%;
}
.block {
	width: 150px;
	height: 150px;
	position: absolute;
}